<section class="service-area pt-100 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40 ">
                <div class="section-title service-title">
                    <h2>All Featured</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered
                        alteration in some form,words which don't look even slightly believable.</p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-xl-4 col-lg-4 col-md-6 mb-50 ">
                <div class="services-box">
                    <div class="services-img">
                        <img src="/assets/img/features/02.jpg" class="img-fluid" alt="Dedicated support">
                    </div>
                    <div class="services-content">
                        <div class="card-title">
                            <h5><a href="/features/dedicated_support">Dedicated support</a></h5>
                        </div>
                        <div class="card-text">
                            <p>Dedicated support quaerat parturient denouncing pleasure and praising pain was born
                                and I will give you a complete.</p>
                        </div>
                        <a href="/features/dedicated_support" class="btn">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-50 ">
                <div class="services-box">
                    <div class="services-img">
                        <img src="/assets/img/service/details/sevice-details.jpg" class="img-fluid"
                            alt="Designs & interfaces">
                    </div>
                    <div class="services-content">
                        <div class="card-title">
                            <h5><a href="/features/designs_interfaces">Designs & interfaces</a></h5>
                        </div>
                        <div class="card-text">
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and
                                praising pain was born and I will give you a complete.</p>
                        </div>
                        <a href="/features/designs_interfaces" class="btn">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-50 ">
                <div class="services-box">
                    <div class="services-img">
                        <img src="/assets/img/features/05.jpg" class="img-fluid" alt="Features & plugins">
                    </div>
                    <div class="services-content">
                        <div class="card-title">
                            <h5><a href="/features/features_plugins">Features & plugins</a></h5>
                        </div>
                        <div class="card-text">
                            <p>Features & plugins parturient denouncing pleasure and praising pain was born and I
                                will give you a complete.</p>
                        </div>
                        <a href="/features/features_plugins" class="btn">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-50 ">
                <div class="services-box">
                    <div class="services-img">
                        <img src="/assets/img/features/04.jpg" class="img-fluid" alt="Highly customizable">
                    </div>
                    <div class="services-content">
                        <div class="card-title">
                            <h5><a href="/features/highly_customizable">Highly customizable</a></h5>
                        </div>
                        <div class="card-text">
                            <p>Highly customizable parturient denouncing pleasure and praising pain was born and I
                                will give you a complete.</p>
                        </div>
                        <a href="/features/highly_customizable" class="btn">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-50 ">
                <div class="services-box">
                    <div class="services-img">
                        <img src="/assets/img/features/01.jpg" class="img-fluid" alt="Optimised for speed">
                    </div>
                    <div class="services-content">
                        <div class="card-title">
                            <h5><a href="/features/optimised_speed">Optimised for speed</a></h5>
                        </div>
                        <div class="card-text">
                            <p>Condimentum consectetur quaerat parturient denouncing pleasure and praising pain was
                                born and I will give you a complete.</p>
                        </div>
                        <a href="/features/optimised_speed" class="btn">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-50 ">
                <div class="services-box">
                    <div class="services-img">
                        <img src="/assets/img/features/03.jpg" class="img-fluid" alt="Responsive design">
                    </div>
                    <div class="services-content">
                        <div class="card-title">
                            <h5><a href="/features/responsive_design">Responsive design</a></h5>
                        </div>
                        <div class="card-text">
                            <p>Responsive design parturient denouncing pleasure and praising pain was born and I
                                will give you a complete.</p>
                        </div>
                        <a href="/features/responsive_design" class="btn">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>