<section class="blog-area grey-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40">
                <div class="section-title service-title">
                    <h2>Featured Posts</h2>
                    <p>Take your cyber security skills to the next level by reading some of our most in demand security deep dives.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for post in site.posts limit:3 %}
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                <div class="blog-wrapper home-blog-wrapper white-bg">
                    <div class="blog-thumb">
                        <a href="{{ site.baseurl }}{{ post.url }}">
                            <img src="{{ post.post-image }}" alt="{{ post.title }}" />
                        </a>
                    </div>
                    <div class="meta-info">
                        <ul>
                            <li class="posts-time">{{ post.date | date: '%B %d, %Y' }}</li>
                            <li>
                                {% assign words = post.content | number_of_words %}
                                {%- unless content.size == 0 -%}
                                    <i class="fas fa-clock"></i> <b class="has-text-link">
                                    {{ words | divided_by:180 }} min
                                    </b>Read
                                {%- endunless -%}
                            </li>
                        </ul>
                    </div>
                    <div class="blog-content home-blog">
                        <h2 class="blog-title">
                            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                        </h2>
                        <p></p>
                    </div>
                    <div class="link-box home-blog-link">
                        <a href="{{ site.baseurl }}{{ post.url }}">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>