<div class="row">
    <div class="col-lg-12 text-center">
        <div class="portfolio-menu mb-55">
            <button class="active" data-filter="*">all</button>
            <button class="p-item" data-filter=".Full-Stack">Full Stack</button>
            <button class="p-item" data-filter=".Web-Dev">Web Dev</button>
            <button class="p-item" data-filter=".Python">Python</button>
            <button class="p-item" data-filter=".Databases">Databases</button>
            <button class="p-item" data-filter=".Miscellaneous">Miscellaneous</button>
        </div>
    </div>
</div>