<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center"
            style="background-image:url(/assets/img/slider/slider1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">Deep Dive <br>
                                <span>Security</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Make a splash in your security</p>
                            <a href="/blog" class="btn" data-animation="fadeInUp" data-delay=".6s">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>