---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

<head>
{% include head.html %}
</head>

<body>
    {% include header.html %}
    {% include search.html %}
    <main>
        <!-- Breadcrumb-area -->
        <section class="breadcrumb-area grey-bg" style="background-image:url(/assets/img/bg/page-title.jpg)">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-8 col-md-6">
                        <div class="breadcrumb-title sm-size">
                            <h2>{{page.title}}</h2>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 text-left text-md-right">
                        <div class="breadcrumb">
                            <ul>
                                {% include breadcrumbs.html %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog-details-area -->
        <div class="basic-blog-area gray-bg pt-100 pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 blog-post-items">
                        <div class="blog-wrapper mb-60">
                            <div class="blog-thumb">
                                <img src="{{page.post-image}}" alt="{{post.title}}" />
                            </div>
                            {% assign words = content | number_of_words %}
                            {%- unless content.size == 0 -%}
                                <p class="subtitle is-uppercase"><i class="fas fa-clock"></i> <b class="has-text-link">
                                {{ words | divided_by:180 }} min
                                </b>Read</p>
                            {%- endunless -%}
                            <div class="blog-content">
                                {{ content }}
        
                                <div class="row mt-30">
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="blog-post-tag">
                                                {% for tag in page.tags %}
                                                <a rel="tag">{{ tag }}</a>
                                                {% endfor %}
                                            </div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            {% assign showRelatedPosts = 3 %}
                      
                            {% capture posts %} 
                                {% for post in site.posts %}
                                    {% if post.url != page.url %}
                                        {% assign matchingTags = "" | split: ","  %}
                          
                                        {% for tag in post.tags %}
                                            {% assign currentPostTag = tag | downcase %}
                                            {% assign tagsPage = page.tags | downcase %}
                                            {% if tagsPage contains currentPostTag %}
                                                {% assign matchingTags = matchingTags | push: currentPostTag %}    
                                            {% endif %}
                                        {% endfor %}
                                  
                                        {% assign tagsTotal = matchingTags.size %}
                          
                                        {% if tagsTotal < 10 %}
                                            {% assign tagsTotal = tagsTotal | prepend: "0" %}
                                        {% else %}
                                            {% assign tagsTotal = tagsTotal  %}
                                        {% endif %}
                                        |
                                        <!--<strong>{{ tagsTotal }} tags</strong>-->
                                        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                                            <div class="blog-wrapper home-blog-wrapper white-bg">
                                                <div class="blog-thumb">
                                                    <a href="{{ site.baseurl }}{{ post.url }}">
                                                        <img src="{{ post.post-image }}" alt="{{ post.title }}" />
                                                    </a>
                                                </div>
                                                <div class="meta-info">
                                                    <ul>
                                                        <li class="posts-time">{{ post.date | date: '%B %d, %Y' }}</li>
                                                        <li>
                                                            {% assign words = post.content | number_of_words %}
                                                            {%- unless content.size == 0 -%}
                                                                <i class="fas fa-clock"></i> <b class="has-text-link">
                                                                {{ words | divided_by:180 }} min
                                                                </b>Read
                                                            {%- endunless -%}
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="blog-content home-blog">
                                                    <h2 class="blog-title">
                                                        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | truncate:25 }}</a>
                                                    </h2>
                                                    <p></p>
                                                </div>
                                                <div class="link-box home-blog-link">
                                                    <a href="{{ site.baseurl }}{{ post.url }}">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endcapture %}

                            {% assign relatedPosts = posts | split: '|' | sort | reverse %}

                            {% if relatedPosts.size > 1 %}
                                <!-- Recommended posts -->
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-12 text-center pb-40">
                                            <div class="section-title service-title">
                                                <h3>You Might Also Like...</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        {% for i in (0..showRelatedPosts) %}
                                            {{ relatedPosts[i] }}
                                        {% endfor %}
                                    </div>
                                </div>
                                <hr>
                            {% endif %}

                            {% unless site.disqus-shortname == "" %}
                            <div class="post-comments mt-50">
                                <div class="latest-comments">
                                    <div id="disqus_thread"></div>
                                    <script>
                                        /**
                                         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                                         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                                        /*
                                        var disqus_config = function () {
                                        this.page.url = PAGE_URL;  Replace PAGE_URL with your page's canonical URL variable
                                        this.page.identifier = PAGE_IDENTIFIER; Replace PAGE_IDENTIFIER with your page's unique identifier variable
                                        };
                                        */
                                        (function () { /* DON'T EDIT BELOW THIS LINE */
                                          var d = document,
                                            s = d.createElement('script');
                                          s.src = 'https://{{site.disqus-shortname}}.disqus.com/embed.js';
                                          s.setAttribute('data-timestamp', +new Date());
                                          (d.head || d.body).appendChild(s);
                                        })();
                                      </script>
                                </div>
                                {% endunless %}
                            </div>
                        </div>
                    </div>
                    {% include blog-sidebar.html %}
                </div>
            </div>
        </div>
    </main>
</body>

{% include footer.html %}